.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border: 1px solid;
  border-color: black;
  width: 300px;

  margin-bottom: 8px;
}

.header {
  padding-left: 5px;
}

.button {
  padding-right: 2px;
}

.dropdown-menu-container {
  border: 1px solid;
  border-color: black;
  width: 300px;
}
