.dropdown {
  position: relative;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 1px solid;
  border-color: black;
  border-radius: 5px;

  width: 300px;
  height: 30px;

  margin-bottom: 5px;
}

.header {
  padding: 2px 0px 2px 5px;
}

.button {
  padding: 2px 5px 2px 0px;
}

.dropdown-menu-container {
  position: absolute;

  /* border */
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);

  width: 300px;
  padding-bottom: 12px;

  max-height: 100px;
  overflow-y: scroll;
}

.dropdown-menu-container.top {
  bottom: 50px;
}

.dropdown-menu-container.bottom {
  top: 50px;
}
