.dropdown {
  position: relative;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border: 1px solid;
  border-color: black;
  width: 300px;

  margin-bottom: 8px;
}

.header {
  padding: 2px 0px 2px 5px;
}

.button {
  padding: 2px 5px 2px 0px;
}

.dropdown-menu-container {
  border: 1px solid;
  border-color: black;
  width: 300px;
}
